# Python compiled and virtual environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
# Environment and config files
.env
.streamlit/secrets.toml
# Jupyter notebooks
.ipynb_checkpoints/
# Visual Studio Code
.vscode/
# macOS
.DS_Store
# PyCharm
.idea/
